extends layout

block content
  div.pagetitle
    h1= title
  div.summary-panel(ng-controller='iLevelCalcController')   
    each slot in items
      span #{slot.name}
      select.form-control(ng-model='slots.Weapon.name')
        each piece in slot.items
          option #{piece.name} (#{piece.ilevel})

    | weapon: {{slots.Weapon.name}}
    br
    | slots: {{slots.Weapon.ilevel}}

    br
    //- weapon, armor, gloves, boots, belt, main_set, innerwear, brooch, necklace, earring1, earring2, ring1, ring2, accessories_set
    | calc1: #{calc.calculate(421, 413, 405, 409, 361, 1, 309, 321, 321, 321, 321, 321, 321, 1)} should be 425
    br
    | calc2: #{calc.calculate(403, 421, 417, 417, 369, 1, 309, 321, 321, 321, 321, 317, 317, 1)} should be 423

  script(src='../javascripts/ilevelcalc/iLevelCalcController.js')